use anyhow::{bail, Result};

use crate::{DayPart, DayProblem};

pub fn process(lines: Vec<String>, day: DayPart) -> Result<usize> {
    todo!()
}

#[cfg(test)]
mod tests {
    use super::*;
    use crate::utils;

    #[test]
    fn test_simple_input() {
        let input = "";
        let lines = utils::string_to_lines(input.to_string());
        let result = process(lines, DayPart::One);
        assert_eq!(123, result.unwrap());
    }
}
